<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <h3 
      style="color:rgb(120,120,120); margin-bottom:4px;">
      {{job['title']}}
    </h3>
    <div>
      <b>Info: </b>{{job['info']}}
    </div>
    {% if 'salary' in job %}
    <div>
      <b>Salary: </b>{{job['salary']}}
    </div>
    {% endif %}
  </div>
  <div class="col-2">
    <a href="mailto:hello@solareklips.com?subject=Application for {{job['title']}}" type="button" class="btn btn-outline-primary float-right align-middel">Enter</a>
  </div>
</div>